.instagram-images-wrapper {
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    background-color: white;
    display: flex; /*added*/
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
}

instagram-images{

}

-webkit-text-security {
    -webkit-text-security: disc;
}

.instagram-image {
    width: 180px;
    height: 180px;
    background: lightgray;
    float: left;
    padding: 2px;
    margin: 0;
    max-height: 180px;
    max-width: 180px;
}

.instagram-checkbox-input {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#likes {
    display: none;
}

#checkbox {
    display: none;
}

#date {
    display: none;
}

#StartLiking {
    display: none;
}

#serviceLogIn {
    display: none;
}
#description {
    display: none;
}

.custom-checkbox {
    padding: 0px;
}

h5 {
    font: aryaFont;
}

#customCheck1 {
    padding: 0px;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.aryaFont {
    font-family: 'Arya';
    font-size: 25px;
}

.botImage {
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    bottom: 100px;
    left: 350px;
}

#service {
    width: 200px;
}



#mainCont {
    margin-top: 20%;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}


body::-webkit-scrollbar {
    width: 0.25rem;

}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    padding: 0;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    margin-bottom: 20px;
}

    .nav-item:last-child {
        margin-top: auto;
    }

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--bg-secondary);
        color: var(--text-secondary);
    }

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}


.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}


.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.4rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

    .logo svg {
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        display: flex;
        align-items: stretch;
        height: 4rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
    }

    main {
        margin: 0;
    }

    .nav-item:last-child {
        margin-top: unset;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

        .navbar:hover {
            width: 16rem;
        }

            .navbar:hover .link-text {
                display: inline;
            }

            .navbar:hover .logo svg {
                margin-left: 12.5rem;
            }

            .navbar:hover .logo-text {
                left: 0px;
            }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "Now";
        padding-left: 10px;
        background-color: ghostwhite;
        color: black;
    }

    .onoffswitch-inner:after {
        content: "Later";
        padding-right: 10px;
        background-color: ghostwhite;
        color: black;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .loader:before,
    .loader:after {
        position: absolute;
        content: '';
    }

    .loader:before {
        width: 5.2em;
        height: 10.2em;
        background: #0dc5c1;
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.1em 5.1em;
        transform-origin: 5.1em 5.1em;
        -webkit-animation: load2 2s infinite ease 1.5s;
        animation: load2 2s infinite ease 1.5s;
    }

    .loader:after {
        width: 5.2em;
        height: 10.2em;
        background: #0dc5c1;
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 4.9em;
        -webkit-transform-origin: 0.1em 5.1em;
        transform-origin: 0.1em 5.1em;
        -webkit-animation: load2 2s infinite ease;
        animation: load2 2s infinite ease;
    }

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: none;
}

#pleaseWait {
    display: none;
}

.checkOut {
    display: none;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.dropdowncust {
    position: relative;
    display: inline-block;
    border-radius: 25px;
}

.dropdown-contentcust {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px 5px 5px;
    z-index: 1;
    color: black;
}

.singleElement:hover {
    background-color: lightgray;
    margin: 5px,5px,5px,5px;
}



.dropdowncust:hover .dropdown-contentcust {
    display: block;
    opacity: 100;
}

.singleImage {
    position: relative;    
    opacity: 0.7;
    float: left;
    padding-right:2px;
}
.userPictures {
    position: center;
    margin-left: 40%;
    margin-top: 2%;
    cursor: pointer;
    display: none;
}
.camIcon{
    font-size:20px;
    margin-left:30%;
    margin-top:30%;
    color:gray;
}
.addAPicture {
    font-size: small;
    font-weight: bold;
    
}
.pictureSquare {
    width: 180px;
    height: 180px;
    background: lightgray;
    float: left;
    padding: 2px;
    margin: 0;
}

.butt {
    opacity: 0.7;
}

.singleImage .butt {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    padding: 9px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.butt:hover {
    background-color: black;
    opacity: 1;
}

.singleImage:hover {
    opacity: 1;
}

.badoo{
    display: none;
}
.tinder {
    display: none;
}
.grinder {
    display: none;
}
.okCupid {
    display: none;
}
