
@{
    ViewData["Title"] = "Close";
}
<head>
    <script src="~/js/AuthenticatedUserScripts.js"></script>
</head>
<body>
    <script type="text/javascript">
        window.close();
    </script>
</body>

