<!doctype html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>

    <link href="~/css/bootstrap-social.css" rel="stylesheet"> <!--load all styles -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AutoLover</title>
</head>
<body>
    <h1>index</h1>
</body>
</html>



