@using Microsoft.AspNetCore.Identity;
@using Models
@model Models.GenericUser

@inject UserManager<ApplicationUser> signIn


@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link rel="stylesheet" type="text/css" href="~/css/css/myCss.css">
        <link href='https://fonts.googleapis.com/css?family=Arya' rel='stylesheet'>
        <script src="~/js/scripts.js"></script>

    </head>

<div id="cont">
    <div class="botImage">
        <img src="~/images/unnamed.png" alt="Alternate Text" />
    </div>
    <div id="cn1">
        <form id="schedulerForm">
            <div id="service">
                <label class="aryaFont">Select a service</label>
                <br />
                <select id="service" class="browser-default custom-select" asp-for="Service" asp-items="Html.GetEnumSelectList<Service>()" onchange="flipService()">
                    <option style="display:none" />
                </select>

            </div>
            <br />
            <div id="likes">
                <label class="aryaFont">Select ammount of likes</label>
                <br />
                <input id="likesInput" class="likeInput" asp-for="Likes" onchange="flipLikes()">
                <br />
                <div id="checkbox">
                    <label class="aryaFont">Start liking in the future?</label>
                    <div class="custom-control custom-checkbox">
                        <br />
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <div id="date">
                            <label class="aryaFont"> When would you like us to start?</label>
                            <div class="container">

                                <input id="datetimepicker1" asp-for="Time" type="datetime-local" asp-format="{4:MM/dd/yyyy}" class="form-control" />
                                <button id="date" type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                        <input id="submit" onclick="submitForm()" type="button" class="btn btn-primary" value="Continue">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div >
        <form id="serviceLogIn">
            <div>
                <i id="error" class="text-danger"></i>
            </div>
            <div>
                <input id="username1" type="text" asp-for="username" value="username" />
                <br />
                <input id="password1" type="password" asp-for="password" value="password" />
                <br />
            </div>
            <input id="submitService" onclick="validateUser()" type="button" class="btn btn-primary" value="Validate">
            <br />
            <i id="pleaseWait" class="text-danger"></i>
            
                <div class="spinner-border"></div>
            
        </form>
    </div>
    <div>
        <div>
            <form asp-action="ChangeDescription" asp-controller="Actions">
            </form>
        </div>
    </div>
 
    <div class="checkOut">
        <h5>Checkout form</h5>
        <input id="StartLiking" onclick="schedule()" type="button" class="btn btn-primary" value="Check out and start likiing!">
    </div>

</div>




